
ul#menu {
  margin: 0;
  border: 0 none;
  padding: 0;
  width:800px;
  list-style: none;
  height: 15px;
  padding-left:30px;

}

ul#menu li {
  margin: 0;
  border: 0 none;
  padding: 0;
  float: left;
  display: inline;
  list-style: none;
  position: relative;
  height: 20px;
  margin-right:2px;
  width:120px;
  text-align:center;
  border-bottom:1px solid #ab9c7e;
  
}
ul#menu li{
	padding-bottom:5px;
	background:#927b53;
}
ul#menu li:hover{
	background:#ab9c7e;
}

ul#menu  ul {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 160px;
  list-style: none;
  display: none;
  position: absolute;
  top: 25px;
  left: 5px;
  border: none;
}

ul#menu ul:after {
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

ul#menu ul li {
  width: 160px;
  float: left; 
  display: block !important;
  display: inline; 
}

/* 1nd Menu */
ul#menu a {
  padding: 5px 15px 5px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  color:#f9f1c5;
  text-decoration: none;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight:bold;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}

/* 1nd Menu Hover  */
ul#menu a:hover,
ul#menu li:hover a,
ul#menu li.iehover a {
 color:#f9f1c5;

}

/* 2nd Menu */
ul#menu li:hover li a,
ul#menu li.iehover li a {
  float: none;
  border:none;
}

/* 2nd Menu Hover */
ul#menu li:hover li a:hover,
ul#menu li:hover li:hover a,
ul#menu li.iehover li a:hover,
ul#menu li.iehover li.iehover a {
 background:#ab9c7e;
 color: #f9f1c5;
}
/* 3rd Menu */
ul#menu li:hover li:hover li a,
ul#menu li.iehover li.iehover li a {
  background: #ab9c7e;
  color: #f9f1c5;
}

/* 3rd Menu Hover*/

ul#menu li:hover li:hover li a:hover,
ul#menu li:hover li:hover li:hover a,
ul#menu li.iehover li.iehover li a:hover,
ul#menu li.iehover li.iehover li.iehover a {
	background:#C3AF86;
  color: #f9f1c5;
}

ul#menu ul ul,
ul#menu ul ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 160px;
}

ul#menu li:hover ul ul,
ul#menu li:hover ul ul ul,
ul#menu li.iehover ul ul,
ul#menu li.iehover ul ul ul {
  display: none;
}

ul#menu li:hover ul,
ul#menu ul li:hover ul,
ul#menu ul ul li:hover ul,
ul#menu li.iehover ul,
ul#menu ul li.iehover ul,
ul#menu ul ul li.iehover ul {
  display: block;
}
ul#menu .selected{
	color: #ab9c7e;
}




